*, *::after, *::before{
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

p, h1, h2, h3, span, li, button, a, textarea, input{
    font-family: 'Poppins', sans-serif;
}

ul{
   list-style: none; 
}

section{
    background-color: #fff;
}

.section{
    padding: 150px 0;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.hidden{
    overflow: hidden;
}

.container {
    width: min( 90%, 1420px );
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: #000;
}

/* HEADER */
.nav ul, nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 20px;
    border-bottom: 3px solid #000;
}

.nav li{
    padding: 20px 10px;
}

.nav i {
    font-size: 30px;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    width: 60px;
    line-height: 0.4;
}

/* INICIO */
.frontPage{
    background: yellow;
    height: 900px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.frontPage i {
    font-size: 125px;
}

.frontPage__info{
    position: absolute;
    top: 50%;
    left: 10%;
}

.frontPage p{
    margin-top: 20px;
    font-size: 35px;
}

h1{
    font-size: 80px;
    width: 90%;
    line-height: 1;
}

.frontPage .js,.frontPage .html5,.frontPage .css,.frontPage .git,.frontPage .sass,.frontPage .npm, .frontPage .bs, .frontPage .node, .frontPage .react{
    position: absolute;
}

.frontPage .node{
    top: 37%
}

.frontPage .react{
    top: 5%;
}

.frontPage .bs{
    top: 15%;
    left: 40%;
}

.html5{
    top: 30%;
    left: 70%;
}

.frontPage .js{
    top: 20%;
    left: 20%;
}

.frontPage .css{
    top: 20%;
    left: 90%;
}

.frontPage .git{
    top: 30%;
    left: 39%;
}

.frontPage .sass{
    left: 60%;
}

.frontPage .npm{
    top: 40%;
    left: 95%;
}

/* SOBRE MI */

h3.container{
    font-size: 40px;
    padding: 30px 0px;
}

.title {
    text-align: center;
    background: #141414 url("https://unsplash.it/1228/880?image=302");
    background-size: cover;
    background-position: 50%;
    height: 150px;
    position: relative;
}

svg {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.about{
    display: flex;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.about__info{
    flex: 1;
    padding: 20px 80px;
}

.about__info p{
    line-height: 2;
}

.about__info a{
    color: #fff;
}

.about__info .button{
    margin-top: 50px;
    border: none;
    padding: 20px;
    background: #000;
}

.about__tecno{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 35px;
}

.about__tecno i {
    font-size: 105px;
}

.about__tecno .ts, .about__tecno .express{
    height: 104px;
}

.certifications{
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    margin-bottom: 150px;
}

.target{
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.target__info{
    overflow: hidden;
    position: relative;
}

.line{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #000;
    width: 0%;
    transition: 2s all ease;
}

.line--activated{
    visibility: visible;
    width: 100%;
    transition: 2s all ease;
}

.course{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

.course:last-of-type{
    border-bottom: none;
}

.course__title{
    font-size: 25px;
    font-weight: 700;
    flex: 2;
}

.course__from{
    font-size: 21px;
    font-weight: 400;
    flex: 1;
}

.course__link{
    flex: 1;
}

.course__link:hover{
    text-decoration: underline;
}

.course__year{
    flex: 1;
    font-size: 18px;
    font-weight: 600;
}

.course__plus{
    font-size: 70px;
    flex: 0.2;
    cursor: pointer;
    transition: 0.6s all ease;
}

.course__plus.rotate{
    transform: rotate(45deg);
    transition: 0.6s all ease;
}

.infoCourse{
    background: yellow;
    height: 0;
    transition: 1s all ease;
    transform: translateY(-100%);
}

.infoCourse--activated{
    height: auto;
    transition: 1s all ease;
    transform: translateY(0%);
}

.padding{
    padding: 50px;
    display: flex;
    column-gap: 20px;
    justify-content: space-around;
}

.padding .info {
    flex: 1;
}

.padding .certificates{
    flex: 1;
}

.padding img{
    height: 200px;
}

.infoCourse li{
    list-style: disc;
}

.infoCourse .tecnology{
    margin-top: 20px;
}

.infoCourse .tecnology p:last-of-type{
    font-weight: 600;
    margin-top: 10px;
}

/* PROJECTS */

.projects {
    background: #000;
    position: relative;
}

.projectsLine{
    position: absolute;
    background: rgb(228, 228, 10);
    height: 100px;
    width: 100vw;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
}

.projectsLine--1{
    top: 20%;
}

.projectsLine--2{
    top: 50%;
    transform: rotate(175deg)
}

.projectsLine--3{
    top: 50%;
    transform: rotate(4deg)
}

.titleProjects{
    display: flex;
    overflow: hidden;
    column-gap: 60px;
    background: yellow;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(3deg);
    justify-content: center;
    width: 200%;
    margin-top: 50px;
}

.titleProjects h3{
    font-size: 55px;
}

.titleProjects h3:nth-of-type(odd){
    color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px 300px;
    gap: 50px;
}

.project{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid--1a{
    grid-column: 1 / 7;
}

.grid--2a{
    grid-column: 7 / 13;
}

.grid--1b{
    grid-column: 1 / 5;
}

.grid--2b{
    grid-column: 5 / 9;
}

.grid--3b{
    grid-column: span 4;
}

.grid--3c{
    grid-column: span 4;
}

.grid--9c{
    grid-column: span 8;
}

.project__links{
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(202, 202, 2, 0.705);
    display: flex;
    column-gap: 20px;
    padding: 10px;
    font-size: 30px;
    border-radius: 6px;
    transition: all .3s ease;
    opacity: 0;
    transform: translate(-50%, -50% )
}

.project:hover .project__links{
    transition: all .3s ease;
    opacity: 1;
}

.icon--000{
    color: #000;
    cursor: pointer;
}

.icon--000:hover{
    color: #fff;
}

.project--more{
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project--more .icon--000{
    font-size: 50px;
}

/* CONTACTO */
.titleContact{
    background: yellow;
    text-align: center;
    padding: 50px 0;
}

.titleContact h3{
    font-size: 50px;
}

.backContact{
    padding: 100px 0;
}

.contact{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min( 700px, 95% );
    row-gap: 50px;
}

.contact__input{
    padding: 20px 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #000;
    font-weight: 600;
    max-width: 100%;
}

.input--button{
    padding: 20px;
    background: yellow;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.input--button:hover{
    background: rgb(238, 238, 40);
}

.footer{
    position: fixed;
    background: #000;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    z-index: -99;
}

.footer p{
    color: #fff;
    text-align: center;
}

.footerTransparent{
    height: 85px;
    background: transparent;
    z-index: 99;
}